

.welcome-section {
 
  color: #fff; 
  padding: 170px 0; 
  text-align: center;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  font-size: 36px; 
}

p {
  font-size: 18px;
  margin-top: 20px;
}

.text{
  font-size: 45px;
}
.highlight{
  color: blue;
  font-weight: bold;
}
.welcome{
  font-size: 21px; 
  margin-top: 20px;
}




